<div class="ml-3">
    <form action="/User/Login" method="post">
        <p>账户：<input type="text" name="user" /></p>
        <p>密码：<input type="password" name="pwd" /></p>
        <p><input type="submit"  value="登录" class="btn btn-primary"/></p>
    </form>
</div>