*{
    margin: 0px auto;
    padding: 0px;
}
#div{
    width: 1000px;
}
table{
    width: 100%;
}
table,table th,table td{
    border-collapse: collapse;
    border: 1px solid #ff4b2e;
    padding: 2px 5px;
}
#div table caption{
    background-color: #ff2501;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}
table th{
    background-color: #f94d31;
    color: #ffffff;
}