<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="gbk">
		<meta name="robots" content="all">
		<meta name="author" content="Tencent-CP">
		<meta name="Copyright" content="Tencent">
		<meta name="Description" content="SPARK 2023腾讯游戏发布会" />
		<meta name="Keywords" content="腾讯游戏,腾讯游戏发布会,腾讯游戏年度发布会,腾讯发布会,腾讯游戏2023,2023腾讯游戏,腾讯游戏官网" />
		<title>SPARK 2023腾讯游戏发布会-官方网站-腾讯游戏</title>
		<!-- 设计：因赛| 重构：因赛 | 创建： 2023-04-24-->
		<script type="text/javascript">
			(function() {
				var a = navigator.userAgent;
				if (-1 != a.indexOf("iPhone") || -1 != a.indexOf("iPad") || -1 != a.indexOf("iPod") || -1 != a.indexOf(
						"Android")) {
					a = document.referrer;
					if (-1 < a.indexOf("baidu.com") || -1 < a.indexOf("sogou.com") || -1 < a.indexOf("haosou.com") || -1 < a
						.indexOf("hao76.com"))
						if (a = void 0, window.sessionStorage) sessionStorage.setItem("channel", "seo");
						else {
							var a = a || 0,
								b = "";
							0 != a && (b = new Date, b.setTime(b.getTime() + 1E3 * a), b = "; expires=" + b.toGMTString());
							document.cookie = "channel=" + escape("seo") + b + "; path=/"
						} self.location = "/m/m202305/order/"
				}
			})();
		</script>

		<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/comm.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<!-- //game.gtimg.cn/images/game/web202305/ -->

	<body>
		<div class="tip--wrapper-box" id="app">
			<div class="swiper-container" id="part_con">
				<div class="swiper-wrapper">
					<!--part1-->
					<div class="swiper-slide part tip--part-part1">

						<div class="kv_bg">
							<!-- <img src="//game.gtimg.cn/images/game/web202305/order/kv.png" /> -->
						</div>
						<!--导航栏-->
						<div class="tip--div-head">
							<img class="tip--img-logo" src="//game.gtimg.cn/images/game/web202305/order/logo.png" />
						</div>
						<!-- <img class="tip--img-slogan" src="//game.gtimg.cn/images/game/web202305/order/slogan.png" /> -->


						<div class="tip--p1-box">
							<p class="tip--p1-ti" style="display: none;">
								距离发布会揭幕还剩
							</p>


							<div class="tip--p1-time">
								<p>倒计时：</p>
								<span class="tip--p1-d">02</span>天<span class="tip--p1-h">21</span>时<span
									class="tip--p1-m">22</span>分<span class="tip--p1-s">22</span>秒
							</div>
							<img class="tip--img-code" src="https://game.gtimg.cn/images/game/web202305/order/code.png" />
						</div>

					</div>
					<!--part2-->
					<div class="swiper-slide part tip--part-part2">
						<img class="tip--img-flex" src="https://game.gtimg.cn/images/game/web202305/order/right.png" />
						<!--<a href="javascript:;" class="tip--img-rbtn">
					<img src="//game.gtimg.cn/images/game/web202305/order/left.png"/>
				</a>-->
						<div class="tip-p2-ti"></div>
						<div class="tip-p2-rule">
							<div class="tip-p2-desc">
								<div class="tip-p2-con">
									<p>一、礼包详情</p>
									<ul>
										<li>英雄联盟端游：全至臻皮肤</li>
										<li>英雄联盟云顶之弈：全英雄级小小英雄</li>
										<li>英雄联盟手游：商城在售全皮肤</li>
										<li>金铲铲之战：全至臻小小英雄</li>
										<li>王者荣耀：商城直售全英雄全皮肤</li>
										<li>和平精英：PEL和平精英职业联赛精英收藏卡、漫步者和平精英联名耳机、大吉大利和平年邮票、和平精英[大绣和平]苗绣定制T恤、盔仔 · 招财鸡</li>
										<li>CF端游/CFHD/CFM超级大礼包：铁骑手办×2</li>
										<li>暗区突围：红魔8Pro 手机</li>
										<li>天涯明月刀：[赤焰 · 翡玉] 非遗翡翠吊坠</li>
										<li>塔瑞斯 · 世界：iPad（第九代）10.2英寸 64GB</li>
										<li>命运方舟：国服限定福利大礼包</li>
										<li>火影忍者手游：九喇嘛鸣人整卡×1</li>
										<li>二之国：腾讯极光T2手机智能投影仪</li>
										<li>七人传奇光与暗之交战：伊丽莎白兔女郎手办</li>
										<li>重生边缘：PS4 Pro</li>
										<li>《冲呀！饼干人：王国》：游戏官方OST专辑、游戏官方设定集、糖糖地精抱枕、勇敢饼干玩偶</li>
										<li>创造吧！我们的星球：Nintendo Switch Life 黄色</li>
										<li>EA SportsFC：FC球星签名球衣大礼包</li>
										<li>Nintendo Switch </li>
									</ul>
									<p>二、抽奖规则</p>
									<ul>
										<li>以上奖品将于5月15日晚20：00于腾讯游戏视频号官方直播间随各游戏发布环节掉落；</li>
										<li>每次掉落限时开启参与；</li>
										<li>部分只可获得1次的皮肤/道具，如玩家已获得，将不能重复发放。</li>
									</ul>
								</div>

							</div>
						</div>


						<div id="certify">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide" v-for="(item, index) in p2Arr" :key="index">
										<div class="tip--p2-li" v-for="(item2, index) in item" :key="index">
											<div class="tip--li-desc" v-show="item2['2023fb_7023']!=''"
												v-html="item2['2023fb_7023']"></div>
											<img class="tip--p2-bg" :src="item2['2023fb_6115']" />
											<img class="tip--p2-bg2" :src="item2['2023fb_9037']" />
										</div>

									</div>

								</div>
							</div>
							<div class="swiper-button-prev p2-prev"></div>
							<div class="swiper-button-next p2-next"></div>
							<p>*直播间还有更多游戏大礼掉落</p>
						</div>
					</div>
					<!--part3-->
					<div class="swiper-slide part tip--part-part3" v-if="part3">
						<img class="tip--img-flex" src="https://game.gtimg.cn/images/game/web202305/order/right.png" />
						<!--<a href="javascript:;" class="tip--img-rbtn">
					<img src="//game.gtimg.cn/images/game/web202305/order/left.png"/>
				</a>-->
						<div class="tip-p3-ti"></div>
						<div class="tip--p3-box">
							<div class="tip--p3-left">
								<div id="p3_video" class="tip--p3-video" v-show="v_show"></div>
								<img class="tip--p3-limg" :src="v_ing.sIMG" />
								<!--<a href="javascript:;" class="tip--p3-btn"></a>-->
							</div>
							<div class="swiper-container" id="part3_r">
								<div class="swiper-wrapper">
									<div class="swiper-slide" v-for="(item, index) in p3Video" :key="index">
										<a href="javascript:;" class="tip--p3-rbtn"
											:class="item.sVID==v_ing.sVID?'on':''" @click="p3_switch(item)">
											<img :src="item.sIMG" />
											<p v-show="v_show"><i></i><i></i><i></i></p>
											<p class="tip--video-pause"></p>
										</a>
									</div>
									<div class="swiper-slide">
										<a href="javascript:;" class="tip--p3-rbtn hide" style="margin-bottom: 0;">
											<img src="https://game.gtimg.cn/images/game/web202305/order/p3_img2.png" />
										</a>
									</div>
								</div>
								<div class="swiper-scrollbar p3-bar"></div>
							</div>
						</div>
					</div>
					<!--part4-->
					<div class="swiper-slide part tip--part-part4">
						<a href="javascript:;" class="tip--p4-btn" @click="p4_top()"></a>
						<img class="tip--img-flex" src="https://game.gtimg.cn/images/game/web202305/order/right.png" />
						<!--<a href="javascript:;" class="tip--img-rbtn">
					<img src="//game.gtimg.cn/images/game/web202305/order/left.png"/>
				</a>-->

						<div class="swiper-container" id="part4">
							<div class="swiper-wrapper">
								<div class="swiper-slide tip--p4-li1">
									<!--<div class="tip--p4-ti1"></div>-->
									<div class="tip--p4-swiper">
										<!-- Swiper -->
										<div id="part4_top" class="swiper-container">
											<div class="swiper-wrapper">
												<div class="swiper-slide" v-for="(item, index) in p4Img" :key="index">
													<a :href="item.sRedirectURL" target="_blank"
														v-if="item.sRedirectURL">
														<img :src="item.sIMG" />
														<!--<div class="tip--p4-desc">
											<h4>{{item.sTitle}}</h4>
											<span>{{item.sDesc}}</span>
										</div>-->
													</a>
													<a style="cursor: initial;" href="javascript:;"
														v-if="!item.sRedirectURL">
														<img :src="item.sIMG" />
													</a>
												</div>
											</div>


										</div>
										<!-- Add Pagination -->
										<div class="swiper-pagination"></div>
										<div class="swiper-button-prev p4-prev"></div>
										<div class="swiper-button-next p4-next"></div>
									</div>
								</div>
								<div class="swiper-slide tip--p4-li2">
									<div class="tip--p4-ti2">
									</div>
									<div class="tip--p4-box">
										<!--<img src="//game.gtimg.cn/images/game/web202305/order/platform.png" alt="">-->
										<div class="tip--p4-platform1">
											<div v-for="(item, index) in p4platform1" :key="index">
												<img :src="item['2023fb_6529']" />

											</div>

										</div>
										<div class="tip--p4-platform2">
											<div v-for="(item, index) in p4platform2" :key="index">
												<img :src="item['2023fb_2813']" />

											</div>
										</div>
									</div>
									<div class="tip--p4-ti3"></div>
									<div class="tip--p4-box">
										<!--<img src="//game.gtimg.cn/images/game/web202305/order/media.png" alt="">-->
										<div class="tip--p4-platform2">
											<div v-for="(item, index) in p4Media" :key="index">
												<img :src="item['2023fb_7625']" />

											</div>

										</div>
									</div>
									<div id="afooter"></div>
								</div>


							</div>
							<div class="swiper-scrollbar p4-bar"></div>
						</div>
					</div>
				</div>
			</div>




		</div>



		<script src="https://ossweb-img.qq.com/images/js/title.js"></script>
		<script src="https://game.gtimg.cn/images/js/2018foot/foot.js"></script>
		<script src="https://ossweb-img.qq.com/images/js/jquery/jquery-1.9.1.min.js"></script>

		<script type="text/javascript" src="https://vm.gtimg.cn/tencentvideo/txp/js/iframe/api.js"></script>
		<script src="https://ossweb-img.qq.com/images/js/comm/showDialog.min.js"></script>
		<script src="https://ossweb-img.qq.com/images/js/vue_component/vue-2.2.6.min.js"></script>
		<script src="https://web202305/order/js/swiper.min.js"></script>
		<script src="https://web202305/order/js/jquery.mousewheel.min.js"></script>
		<script src="https://web202305/order/js/index.js"></script>
		<!-- <script src="js/swiper.min.js"></script>
  <script src="js/jquery.mousewheel.min.js"></script>
  <script src="js/index.js"></script> -->
		<script type="text/javascript">
			//此段代码不能放到外链JS中，
			var setSite = {
				siteType: "os",
				pageType: "index",
				pageName: "预约期首页",
				project: "base",
				osact: "pc"
			};
		</script>
		<script src="https://ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
		<script>
			if (typeof(pgvMain) == 'function') pgvMain();
		</script>
	</body>

</html>