
@{
    ViewData["Title"] = "商品详情";
}
@using T3.Controllers;
@using Microsoft.Extensions.Logging;
@inject ILogger<ShopController> logger
@{ 
    logger.LogInformation("显示Index.cshtml视图");
}



<h1>商品详情</h1>

<ul class="list-group">
    <li class="list-group-item">商品名称：@Model.Title</li>
    <li class="list-group-item">商品价格：@string.Format("{0:C}",Model.Price)</li>
    <li class="list-group-item">商品详情：@Model.Desc</li>
</ul>