@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn btn-primary"  href="/Home/ReadData">读取Redis数据</a>
<a class="btn btn-danger"  href="/Home/DelData">删除Redis数据</a>