* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 12px;
}

.head {
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	background-color: #000000;
	overflow: hidden;
	box-shadow: 0 0 0.5rem 0.2rem #222;
}

.head__lop {
	display: flex;
	flex-flow: row nowrap;
	width: 90%;
	margin: 0 auto;
}

.head__left,
.head__right {
	flex: 2.5;
}

.head__middle {
	flex: 5;
}

.head__left--nav,
.asd {
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	justify-content: space-around;
}

.head__left--nav li:not(2n),
.asd {
	flex: 1;
	display: block;
}

.head__left--nav li {
	color: white;
}

.head__left--nav li a,
.asd li a {
	color: #ccc;
	text-decoration: none;
}

.cart {
	background-color: #22B14C;
	display: block;
	height: 8rem;
	width: 4rem;
	text-align: center;
}

.cart:hover {
	background-color: orange;
}

.head__left--nav li:hover a {
	background-color: lightgreen;
}

.asd li:hover a:not(.cart) {
	background-color: lightgreen;
}

#found {
	width: 95vw;
	height: 40px;
	background-color: #fff;
	margin: 10px auto;
	line-height: 40px;
	overflow: hidden;
	border: none;
	border-radius: 5px;
}

#found .found-1 ul li {
	float: left;
	list-style: none;
}

#found .found-1 ul li:not(.a1, .a3) {
	margin-left: 70px;
}

#found .a1 img {
	height: 35px;
	margin-top: 5px;
	margin-left: 5px;
}

#found .a2 img {
	width: 100px;
}

#found .found-1 ul li a {
	text-decoration: none;
	color: #000000;
}

#found #input {
	position: relative;
	width: 200px;
	height: 30px;
	background-color: orange;
	border: none;
	margin-left: 20px;
}

#found #enter {
	background-color: red;
	height: 30px;
	width: 50px;
	position: absolute;
	margin-top: 6px;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 0px 5px 5px 0px;
}

.color {
	width: 100vw;
	height: 3rem;
	border: 1px solid red;
	margin: 1rem auto;
	background-color: orangered;
	line-height: 3rem;
}

.color__a {
	width: 95vw;
	margin: 0 auto;
}

.color__a ul {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
}

.left {
	flex: 8;
	font-size: 1rem;
	font-weight: bold;
}

.color__a ul li {
	text-align: center;
	padding-right: 1rem;
}

.show {
	margin: 0 auto;
	height: 80vh;
	width: 76vw;
	overflow: hidden;
}

.show__left {
	float: left;
	border: 1px solid lightgray;
}

.show__right {
	float: right;
	background-color: whitesmoke;
	height: 77vh;
}

.show div {
	margin-top: 1rem;
}

.col {
	color: gray;
}

.number {
	color: lawngreen;
	font-size: 1rem;
}

.id {
	font-size: 1.2rem;
}


#submit {
	background-color: whitesmoke;
	border-radius: 8px;
	height: 3rem;
	font-size: 0.9rem;
	width: 16rem;
	border: 1px solid black;

}

.you {
	margin-left: 4rem;
}

#square {
	height: 3rem;
	width: 16rem;
	border-radius: 8px;
	border: 1px solid black;
}

.id-1 {
	left: 52rem;
	position: absolute;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background-color: #000000;
}

.show__right div:hover input:not(#choose) {
	animation: d1 1s infinite alternate;
}

@keyframes d1 {
	to {
		box-shadow: 5px 5px 0.2rem 0.2rem black;
	}
}

.border {
	height: 8rem;
	width: 37rem;
	background-color: ghostwhite;
	overflow: hidden;
}

.right {
	float: right;
	font-size: 1.5rem;
}

.left {
	float: left;
	font-size: 1.5rem;
}

.money {
	position: absolute;
	bottom: 7rem;
	font-size: 2rem;
	color: lawngreen;
}

#choose {
	width: 16rem;
	height: 3rem;
	background-color: #008000;
	color: white;
	font-weight: bold;
	letter-spacing: 0.2rem;
	border: none;
	border-radius: 0.2rem;
}

.earth {
	margin-left: 5rem;
}

#foot {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background-color: #333;
	padding: 2.6rem 0;
	color: #ccc;
	margin: 2rem auto 0 auto;
	box-shadow: -1rem 0 1.3rem #222;
}

.show__left:hover .show-1 img {
	animation: aaaa 1s infinite alternate;
}

@keyframes aaaa {
	from {
		height: 70vh;
		width: 30vw;
	}

	to {
		height: 10rem;
		width: 10rem;
	}
}
a{text-decoration: none;
color: black;
font-weight: bold;}
.show__left{width: 35vw;
height: 75vh;}
